
<ul>
  <li>
    <a routerLink="/">Home</a>
  </li>
  
  <li>
    <a routerLink="/about">ABOUT</a>
  </li>
</ul>
<router-outlet></router-outlet>
<helloworld></helloworld>
<app-hola-mundo></app-hola-mundo>
<ul>
    <!-- <app-user *ngFor="let user of users" [nameUser]="user">
    </app-user> -->
    
    <li *ngFor="let user of users">
      {{user}} <button (click)="clickeando(user)">Hola </button>
      <button (click)="eliminar(user)">Adios</button>
    </li>
</ul>

<form (submit)="adduser(newUser)">
  <input type="text" #newUser>
  <button>
    Enviar usaurio
  </button>
</form>

<h1 *ngIf="activated">Activado</h1>

<div>
  <p>name: {{name}}</p>
  <p>Calle: {{address.street}}</p>
  <p>Ciudad: {{address.city}}</p>
  <ul>
    <li *ngFor="let hobie of hobbies"> {{hobie}} </li>
  </ul>
  
  <button (click)="clickeando()">
    boton
  </button>
</div>
<br>
<div>
  <input type="text" name="name" [(ngModel)] = name >
  <input type="text" name="age" [(ngModel)] =age >
  <h2>
    name: {{name}}<br>
    age: {{age}}
  </h2>
</div>

<hr>

<!-- <div *ngFor="let post of posts">
  <h2>
    {{post.title}}
  </h2>
  <p>
    {{post.body}}
  </p>
</div> -->
